header
	.header-content
		.logo
			p.name Tarun Chine
		nav
			ul
				li: a(href="#home-section") Home
				li: a(href="#portfolio-section") Portfolio
				li: a(href="#about-section") About
				li: a(href="#contact-section") Contact

		p.social
			a(href="#").mail
				span.fa.fa-envelope
			a(href="#").linkedin
				span.fa.fa-linkedin
			a(href="#").facebook
				span.fa.fa-facebook