header
	width: 135px
	position: relative
	z-index: 2

	.header-content
		display: flex
		flex-direction: column
		justify-content: space-between
		position: fixed
		top: 0
		bottom: 0
		left: 0
		width: 135px

		.logo
			text-align: center
			padding-top: 120px
			margin: 15px 15px 0px
			background:
				image: url('../img/logo.png')
				repeat: no-repeat
				size: contain
			p.name
				font-size: .8em

		nav ul
			list-style: none

			li
				margin: 0px 15px 15px 0px
				text-align: right

				a
					text-decoration: none
	.mobile-nav-toggle
		display: none
		width: 45px
		height: 45px
		position: absolute
		top: 20px
		right: 20px
		cursor: pointer
		span,span:before,span:after
			content: " "
			display: block
			height: 3px
			background: #000
			position: relative
			top: 21px
			background-color: #fff
			transition: all .4s ease-in-out
		span:before
			top: -21px
		span:after
			top: 18px

header.active
	.mobile-nav-toggle
		span
			background: transparent
		span:before,span:after
			top: 0
			transform-origin: center
			transform: rotate(-45deg)
		span:after
			transform: rotate(45deg)

@media all and (max-width: 734px)
	.container
		display: block
	header
		width: 100%
		z-index: 2

		.header-content
			width: 100%
			background-color: rgba(0,0,0,.7)
			justify-content: space-around
			display: none
			.logo,p.social
				display: none
			nav ul li
				text-align: center
			a
				display: inline-block
				background-color: #3b5998
				padding: 20px
				max-width: 300px
				width: 50%
				color: #fff
			
		.mobile-nav-toggle
			display: block
	header.active
		.header-content
			display: flex
