header
	width: 135px
	background:#d7d7d7
	height: 100%
	position: fixed

	#logo
		margin: 0px 15px
		padding-top: 120px
		background:
			image: url('../img/logo.png')
			size: contain
			repeat: no-repeat
			position: left 15px
		text-align: center

	nav
		position: absolute
		width: 100%
		top: 50%
		transform: translateY(-50%)
		ul
			list-style: none
			text-align: right
			padding-right: 15px
			line-height: 30px

			a
				text-decoration: none
				color: brown

	p.social 
		text-align: center
		font-size: 25px
		position: absolute
		width: 100%
		bottom: 5px
		a
    		margin: 0px 10px