* {
  margin: 0px;
  padding: 0px; }

@font-face {
  font-family: "lucida-handwriting";
  src: url("../fonts/ufonts.com_lucida-handwriting-italic.ttf"), url("../fonts/ufonts.com_lucida-handwriting-italic.eot"); }

@font-face {
  font-family: "FjordOne";
  src: url("../fonts/FjordOne-Regular.ttf"); }

body {
  font-family: FjordOne;
  font-size: 18px; }

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .container .sections {
    min-height: 100vh;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    z-index: 1; }
    .container .sections .section {
      min-height: 100vh; }

.section .heading {
  text-align: center;
  font-size: 2em;
  padding: 30px 0px; }

.row {
  padding: 0px 4% 20px;
  box-sizing: border-box; }

p.social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 55px 0px 20px;
  font-size: 25px; }
  p.social a {
    text-align: center;
    width: 36px;
    height: 36px;
    border-radius: 100%; }
    p.social a span {
      font-size: 20px;
        font-size-line-height: 38px;
      color: #fff; }
  p.social a.mail {
    background-color: #410093; }
  p.social a.linkedin {
    background-color: #0077b5; }
  p.social a.facebook {
    background-color: #3b5998; }

header {
  width: 135px;
  position: relative;
  z-index: 2; }
  header .header-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 135px; }
    header .header-content .logo {
      text-align: center;
      padding-top: 120px;
      margin: 15px 15px 0px;
      background-image: url("../img/logo.png");
      background-repeat: no-repeat;
      background-size: contain; }
      header .header-content .logo p.name {
        font-size: .8em; }
    header .header-content nav ul {
      list-style: none; }
      header .header-content nav ul li {
        margin: 0px 15px 15px 0px;
        text-align: right; }
        header .header-content nav ul li a {
          text-decoration: none; }
  header .mobile-nav-toggle {
    display: none;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
    header .mobile-nav-toggle span, header .mobile-nav-toggle span:before, header .mobile-nav-toggle span:after {
      content: " ";
      display: block;
      height: 3px;
      background: #000;
      position: relative;
      top: 21px;
      background-color: #fff;
      transition: all .4s ease-in-out; }
    header .mobile-nav-toggle span:before {
      top: -21px; }
    header .mobile-nav-toggle span:after {
      top: 18px; }

header.active .mobile-nav-toggle span {
  background: transparent; }

header.active .mobile-nav-toggle span:before, header.active .mobile-nav-toggle span:after {
  top: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

header.active .mobile-nav-toggle span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

@media all and (max-width: 734px) {
  .container {
    display: block; }
  header {
    width: 100%;
    z-index: 2; }
    header .header-content {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      display: none; }
      header .header-content .logo, header .header-content p.social {
        display: none; }
      header .header-content nav ul li {
        text-align: center; }
      header .header-content a {
        display: inline-block;
        background-color: #3b5998;
        padding: 20px;
        max-width: 300px;
        width: 50%;
        color: #fff; }
    header .mobile-nav-toggle {
      display: block; }
  header.active .header-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

#home-section {
  background-color: #000;
  background-image: url("../img/bg.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  #home-section .content {
    width: 300px;
    color: #fff;
    text-align: center;
    margin: auto; }
    #home-section .content .logo img {
      width: 70%; }
    #home-section .content p.name {
      font-size: 2em; }
    #home-section .content span {
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      padding: 10px;
      margin-top: 15px;
      display: inline-block; }

#portfolio-section {
  background-color: #51A39D; }

#about-section {
  background-color: #d7d7d7; }
  #about-section .row.intro {
    display: table; }
    #about-section .row.intro div.container {
      display: table-row; }
      #about-section .row.intro div.container div {
        display: table-cell;
        vertical-align: middle; }
      #about-section .row.intro div.container .pic {
        width: 150px;
        text-align: center; }
        #about-section .row.intro div.container .pic img {
          width: 80%;
          margin-bottom: 15px; }
      #about-section .row.intro div.container .summary {
        padding-left: 30px; }
        #about-section .row.intro div.container .summary .quote span {
          margin: 0px 10px;
          font-size: 1.5em; }
        #about-section .row.intro div.container .summary div {
          text-align: center;
          display: block;
          margin-top: 20px; }
          #about-section .row.intro div.container .summary div p.resume {
            margin: auto;
            padding: 10px 20px;
            width: 150px;
            background-color: #3b5998;
            color: #fff; }
            #about-section .row.intro div.container .summary div p.resume span {
              margin-right: 15px; }
  #about-section .row .title {
    background-color: #3b5998;
    padding: 10px 0px 10px 10px;
    color: #fff;
    font-size: 1em;
    margin-bottom: 20px; }
  #about-section .row .description {
    margin: 20px 10px;
    position: relative; }
    #about-section .row .description .post, #about-section .row .description .course {
      border-bottom: 2px solid #000;
      padding-bottom: 8px; }
    #about-section .row .description span {
      margin-left: 10px; }
    #about-section .row .description .company {
      margin: 5px 0px 5px; }
    #about-section .row .description .duration {
      position: absolute;
      top: 0;
      right: 0; }
    #about-section .row .description .summary {
      margin-top: 15px; }
  #about-section .row .skill-bar {
    width: 26.6%;
    background-color: #000;
    height: 30px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 5%;
    display: inline-block; }
    #about-section .row .skill-bar .skill-name {
      position: absolute;
      top: 5px;
      left: 5px; }
    #about-section .row .skill-bar .skill-percent-bg {
      width: 0%;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.7);
      transition: all 2s ease-in-out; }
    #about-section .row .skill-bar span {
      position: absolute;
      right: 5px;
      top: 5px;
      color: #fff; }
  #about-section .award ul {
    padding: 0px 20px 0px 40px; }

#contact-section {
  background-color: #06425C;
  color: #fff;
  background-image: url("../img/bg (1).jpg");
  background-size: cover; }
  #contact-section .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    min-height: 80vh;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    #contact-section .row div.container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 25px 0px 15px;
      border: 2px solid #fff;
      border-radius: 20px; }
      #contact-section .row div.container .details {
        max-width: 300px;
        text-align: center;
        padding: 10px 20px; }
        #contact-section .row div.container .details .social {
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          margin-top: 20px; }
      #contact-section .row div.container .contactform {
        display: table;
        width: 300px; }
        #contact-section .row div.container .contactform div {
          display: table-row; }
          #contact-section .row div.container .contactform div span {
            width: 85px;
            display: inline-block; }
          #contact-section .row div.container .contactform div span, #contact-section .row div.container .contactform div input, #contact-section .row div.container .contactform div textarea {
            display: table-col;
            vertical-align: middle; }
          #contact-section .row div.container .contactform div input, #contact-section .row div.container .contactform div textarea {
            width: 200px;
            border: 1px solid #d7d7d7;
            min-height: 30px;
            margin-bottom: 10px;
            border-radius: 5px;
            resize: none; }
        #contact-section .row div.container .contactform .submit {
          text-align: right; }
          #contact-section .row div.container .contactform .submit input {
            width: 80px; }

@media all and (max-width: 549px) {
  #about-section .row .description .duration {
    position: static; }
  #about-section .row .skill-bar {
    width: 42.5%; }
  #contact-section .row div.container {
    display: block;
    text-align: center; }
  #contact-section .row .details, #contact-section .row .contactform {
    margin: auto; } }
