.container
	display: flex

	.sections
		min-height: 100vh
		flex: 1

		.section
			height: 100vh

#home-section
	background:
		color: #000
	display: flex
	flex-direction: column
	justify-content: space-around

	.content
		width: 300px
		color: #fff
		text-align: center
		margin: auto

		.logo img
			width: 70%
		p.name
			font-size: 2em
		span
			border-top: 2px solid #fff
			border-bottom: 2px solid #fff
			padding: 10px
			margin-top: 15px
			display: inline-block